@font-face {
  font-family: abzuka;
  src: url(fonts\Azbuka.ttf);
}

body {
  padding: 0px;
  margin: 0px;
  background-color: #2e2e2e;

  scroll-behavior: auto;
}

#chat-text video{
  margin-left: 65px;
  border-radius: 30px;
  background-color: rgba(0, 0, 0, 0.05);
}

#chat-text {
    color: white;
    background-color: #191919;
    background: linear-gradient(90deg, rgba(15,25,35,.3) -100%, rgba(15,15,15,.3) 200%);
    padding: 4px;
    margin: 15px;
    border-radius: 30px;
    min-height: 60px;
    overflow: hidden;
}

#chat-user-text {
    border-radius: 30px;
    min-height: 60px;
}

#chat-user-text p{
    margin: 30px;
    padding: 20px;
    border-radius: 30px;
     background: linear-gradient(90deg, rgba(68, 99, 80, 0.3) 50%, rgba(40, 116,98, 0.3) 100%);
    position: absolute;
    margin-left: 14px;
    margin-top: 0px;
    color: white;
    font-family: abzuka;
    font-size: 14pt;
    right: -20px;
    
}

#chat-text a{
  position: absolute;
  margin-left: 65px;
  margin-top: 17px;
  color: white;
  font-family: abzuka;
  font-size: 14pt;
}

#chat-text p {
    margin-left: 65px;
    color: white;
    font-family: abzuka;
    font-size: 14pt;
}

#avatar {
    margin-left: 5px;
    margin-top: 5px;
    position: absolute;
    width: 50px;
    padding
}

#user-bt{
    color: white;
    border: 0px;
    cursor: pointer;
    font-family: abzuka;
    font-size: 16px;
    background-color: rgba(15, 25, 35, .5);
    padding: 10px;
    margin-left: 10px;
    width: 120px;
    border-radius: 30px;
    color: 4e5166;
}

#user-bt:hover {
    background-color: #0d0d0d;
}

#bot-bt {
    color: white;
    border: 0px;
    cursor: pointer;
    font-family: abzuka;
    font-size: 14px;
    background-color: #0f1923;
    padding: 10px;
    margin-left: 10px;
    border-radius: 30px;
    color: 4e5166;
}

#bot-bt:hover{
    background-color: #070c12;
}

#question {
    float: right;
    margin: 4px;
    padding: 5px;
    border-radius: 30px;
}

#time {
  position: absolute;
  font-family: abzuka;
  font-size: 10pt;
  padding: 7px;
  border-radius: 30px;
  right: 20px;
  margin-top: -15px;
  background-color: #211f1f;
}